nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.nav-latteral {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: white;
    height: 100vh;
    width: max-content;
    z-index: 3;
}

#nav-close {
    margin-bottom: 50px;
}

#nav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    display: none;
}

#nav-wrapper.active {
    display: block;
}

.nav-links {
    padding: 5px 60px 5px 20px;
}

.nav-link {
    cursor: pointer;
    font-size: 25px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    color: rgb(17, 209, 145);
}

.nav-link ion-icon {
    margin-right: 10px;
}

.nav-button {
    font-size: 40px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button:hover {
    color: rgb(17, 209, 145);
}

@media screen and (max-width:1000px) {
    .nav-link {
        margin-bottom: 5%;
    }
    .nav-links {
        position:relative;
        bottom: 30px;
    }
}